<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/list.css">
    <title>Editar cliente</title>
</head>
<body>
    <div class="container">
      <table class="table">
        <thead>
            <tr>
              <th>id</th>
              <td>name</th>
              <th>mail</th>
              <th>rhdmail</th>
              <th>cpf</th>
              <th>phone</th>
              <th>date</th>
              <th>adress</th>
              <th>wage</th>
              <th>job</th>
              <th>hiring</th>
              <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
          <form action="/customers/update" method="POST">
            <input type="hidden" name="id" value="<%= customer.id %>" readonly>
              <tr>
                <td>
                  <input type="text" name="name" value="<%= customer.name %>">
                </td>
                <td>
                  <input type="text" name="name" value="<%= customer.name %>">
                </td>
                <td>
                  <input type="text" name="job" value="<%= customer.job %>">
                </td>
                <td>
                  <input type="text" name="hiring" value="<%= customer.hiring %>">
                </td>
                <td>
                  <input type="submit" value="Editar Cliente">
                </td>
              </tr>
            </form>
        </tbody>
      </table>
      <br><br>
      <a href="/">Voltar</a>
    </div>
</body>
</html>
