<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="stylesheet" href="css/list.css">
    <title>Listar clientes</title>
</head>

<body>
    <!--Barra lateral-->
    <div class="navbar">
        <input type="checkbox" id="click" class="checkbox" hidden>
        <div class="barra-lateral">
            <label for="click">
                <div class="menu">
                    <div class="linha linha-1"></div>
                    <div class="linha linha-2"></div>
                    <div class="linha linha-3"></div>
                </div>
            </label>
            <div class="ano">2022</div>
        </div>
        <nav class="navegacao">
            <div class="navegacao-cabeca">
                <h1 class="navegacao-titulo">RHDN</h1>
                <ul class="navegacao-lista">
                    <li class="navegacao-item">
                        <a href="/" class="navegacao-link">Home</a>
                    </li>
                    <li class="navegacao-item">
                        <a href="customers/add" class="navegacao-link">Cadastro</a>
                    </li>
                    <li class="navegacao-item">
                        <a href="customers/list" class="navegacao-link">Consulta</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--final da Barra lateral-->
    <!--container -->
    <div class="container">
        <div class="container-titulo">
            <h1>Consulta de Funcionario</h1>
        </div>

        <div class="buscar-funcionario">
            <form class="formulario-busca">
                <div class="consulta">

                    <div class="consulta-nome">
                        <input type="text" name="nome" id="nome" class="input-info-consulta" placeholder="Por Nome">

                    </div>
                    <div class="conculta-id">
                        <input type="number" name="id" id="id" class="input-info-consulta" placeholder="Por ID">

                    </div>
                    <div class="consulta-botao">
                        <button type="button" id="consulta-botao-btn" class="consulta-btn" onclick="Main()">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
        <% customers.forEach(function(customer){ %>
        <div>
          <span><%= customer.id %></span><br><br>
          <span><%= customer.name %></span><br><br>
          <span><%= customer.mail %></span><br><br>
          <span><%= customer.rhdmail %></span><br><br>
          <span><%= customer.cpf %></span><br><br>
          <span><%= customer.phone %></span><br><br>
          <span><%= customer.date %></span><br><br>
          <span><%= customer.adress %></span><br><br>
          <span><%= customer.wage %></span><br><br>
          <span><%= customer.job %></span><br><br>
          <span><%= customer.hiring %></span><br><br>
        </div>
        <div class="resultado">
            <div class="exibir-resultado">

                <ul class="resultado-busca">
                           <li class="resultado-busca-item item-1">
                               <!--
                                Adicionar os campos referentes as informaçoes do trabalho e pessoais
                               -->

                           </li>
                        <div class="botoes">

                            <form action="/customers/edit" method="POST">
                                <input type="hidden" value="<%= customer.id %>" name="id" readonly></input>
                                <button type="submit" class="edit-btn">Editar</button>
                            </form>

                            <form action="/customers/delete" method="POST">
                                <input type="hidden" value="<%= customer.id %>" name="id" readonly></input>
                                <button type="submit" class="delete-btn">Deletar</button>
                            </form>
                        </div>

                        <% }) %>
                     }
                </ul>
            </div>
        </div>


    </div>
    <script>
          function Main(){
            document.querySelector(".resultado-busca").style = block
            let nome = document.getElementById("nome").value;
            let id = document.getElementById("id").value;
          }
    </script>
    <!--final do container -->
    <script src="list.js"></script>
</body>

</html>
