<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/list.css">
    <title>Listar clientes</title>
</head>
<body>
  <div class="container">
    <h2>Customers</h2><br><br>
    <div class="input-content">
      <input type="search" id="search">
    </div>
    <table class="table">
      <thead>
          <tr>
              <th>ID</th>
              <th>NAME</th>
              <th>JOB</th>
              <th>HIRING</th>
              <th>ACTIONS</th>
          </tr>
      </thead>
      <tbody>
          <% customers.forEach(function(customer){ %>
              <tr>
                  <td><%= customer.id %></td>
                  <td><%= customer.name %></td>
                  <td><%= customer.job %></td>
                  <td><%= customer.hiring %></td>
                  <td>
                      <form action="/customers/edit" method="POST">
                          <input type="hidden" value="<%= customer.id %>" name="id" readonly></input>
                          <button type="submit">Editar</button>
                      </form>

                      <form action="/customers/delete" method="POST">
                          <input type="hidden" value="<%= customer.id %>" name="id" readonly></input>
                          <button type="submit">Deletar</button>
                      </form>
                  </td>
              </tr>
          <% }) %>
      </tbody>
    </table>
    <!--<div class="register">
      <div class="up" id="up">
        <a href="">x</a>
      </div>
      <div class="down" id="down">
        <form action="/customers" method="POST">
          <input type="text" name="name" placeholder="Qual o nome do cliente"><br><br>
          <input type="text" name="job" placeholder="Qual o trabalho do cliente"><br><br>
          <input type="text" name="hiring" placeholder="AAAA-MM-DD"><br><br>
          <input type="submit" value="Cadastrar cliente">
        </form>
      </div>
    </div>-->
    <br><br>
    <a href="/">Voltar</a>
  </div>
  <script src="list.js"></script>
</body>
</html>
